@font-face{
    font-family: Paint Brush Script;
    src: url(../assets/fonts/PaintBrushScript-Regular.ttf)
}

h1{
    /* font-family: Paint Brush Script; */
    font-size:10vh;
    text-align:center;
    color:#08d0ffeb;
    padding: 57px;
    font-family: 'Dancing Script', cursive;

}
.comenzar{
    font-family: 'Dancing Script', cursive;
    font-size:8vh;
    text-align:center;
    color:#08d0ffeb;

}

/* Responsive -----------------------------------------------------*/
@media (max-width: 506px){

    h1{
        font-size: 7vh;
        padding: 42px;
    }
    .comenzar {
        font-size: 6vh;
    }
} 