@font-face{
    font-family: Paint Brush Script;
    src: url(../assets/fonts/PaintBrushScript-Regular.ttf)
}

h1{
    font-family: Paint Brush Script;
    font-size:8vh;
    text-align:center;
    color:#08d0ffeb;
    padding: 57px;

}
.comenzar{
    font-family: Paint Brush Script;
    font-size:6vh;
    text-align:center;
    color:#08d0ffeb;

}