*{
    margin: 0;
    /* padding:0; */
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color:#fafafade;
}

body{
    background-color:#4c2a9b;
    /* background-image:url(../assets/img/fondo.jpg);
    background-repeat : no-repeat;
    background-size : cover;
    background-origin: border-box;
    display: flex;
    margin: 15vh;
    justify-content: center; 
    align-items: center; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}

.cuadrobase{
    /* background-color:#e9a3cda1; */
    /* width:90vw;
    height:90vh; */
    margin: 15vh 5vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    /* border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(241 231 237 / 69%);
    backdrop-filter: blur(3.4px);  */
    
}

.intro{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}

.opciones{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 44px;
}


.puntos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}
.eleccion{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}
/* img{
    height:27vh;
} */

button{
    color:#f5f1f1;
    background-color: #8f20d2;
    border-radius: 18px;
    border-color: #d4f3e9;
    padding: 13px;
    margin: 4px;
    height: 45px;
}
input{
    color:#4c2a9b;
    height: 25px;
    border-radius: 7px;
    padding:3px
}

.icono{
    color:#f5f1f1;
    background-color: #8f20d2;
    border-radius: 50px;
    border-color: #d4f3e9;
    padding: 6px;
    margin: 8px;
    height: 103px;;
}
.reglas{
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(241 231 237 / 69%);
    backdrop-filter: blur(3.4px); 
    padding: 17px 17px 20px 17px;
    background-color: #aadddd2b;
    margin: 6px;
}
h2{
    padding: 21px;
}
#saludo{
    margin: 46px 16px 0px;
}
#comenzar{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
/* .button{} */



/* Responsive -----------------------------------------------------*/
@media (max-width: 506px){
    #saludo{
        margin:46px;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;

    }
    button{
        font-size: 15px;
    }

}  

/* Botones elección prueba*/
.iconos{
    display: flex;
    margin-bottom: 20px;
  }
  
  .iconos .eleccionUs{
    padding: 6px;
    border-radius: 50px;
    border: 2px solid #ccc;
    margin: 6px;
    display:flex;
  }
  .eleccionUs:hover{
    background: #08d0ffeb;
    color: white;
  }
  .icono:checked + label{
    background: #8f20d2;
    color: white;
    border: 2px solid #08d0ffeb;
  }

  
  .icono{
    display: none;
  }
  .resultados{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  .eleccU{
    margin: 27px;
  }
  #resultadoJuego{
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(241 231 237 / 69%);
    backdrop-filter: blur(3.4px); 
    padding: 17px 17px 20px 17px;
    background-color: #aadddd2b;
    margin: 6px;
  }
  .reset{
    padding: 6px;
    margin:6px;
  }